body {
    color: aqua;
}

.forecast-container {
    display: flex;
    width: 900px;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
}

.forecast-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.forecast-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.forecast-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 2px 3px 4px rgb(255 252 252 / 5%);
}